<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jack Doe</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Home&gt;!$__2</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 999-9999</string>
				<key>phoneId</key>
				<integer>9</integer>
			</dict>
			<key>_$!&lt;Mobile&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 777-7777</string>
				<key>phoneId</key>
				<string>7</string>
			</dict>
			<key>iPhone_1</key>
			<dict>
				<key>phoneId</key>
				<string>8</string>
				<key>phoneNumber</key>
				<string>(512) 888-8888</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Jim Jackson</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Mobile&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 666-6666</string>
				<key>phoneId</key>
				<string>6</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>James Joyce</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Mobile&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 333-3333</string>
				<key>phoneId</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Joe User</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Mobile&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 111-1111</string>
				<key>phoneId</key>
				<string>1</string>
			</dict>
			<key>iPhone_1</key>
			<dict>
				<key>phoneId</key>
				<string>2</string>
				<key>phoneNumber</key>
				<string>(512) 222-2222</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>John Smith</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Home&gt;!$__2</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 444-4444</string>
				<key>phoneId</key>
				<integer>4</integer>
			</dict>
			<key>_$!&lt;Work&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 555-5555</string>
				<key>phoneId</key>
				<string>5</string>
			</dict>
			<key>iPhone_1</key>
			<dict>
				<key>phoneId</key>
				<string>10</string>
				<key>phoneNumber</key>
				<string>(512) 454-5454</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Cynthia Roberts</string>
		<key>phoneList</key>
		<dict>
			<key>iPhone_1</key>
			<dict>
				<key>phoneId</key>
				<string>11</string>
				<key>phoneNumber</key>
				<string>(512) 565-6565</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Mike Marshall</string>
		<key>phoneList</key>
		<dict>
			<key>_$!&lt;Home&gt;!$__2</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 676-7676</string>
				<key>phoneId</key>
				<integer>12</integer>
			</dict>
			<key>_$!&lt;Mobile&gt;!$__0</key>
			<dict>
				<key>phoneNumber</key>
				<string>(512) 787-8787</string>
				<key>phoneId</key>
				<string>13</string>
			</dict>
			<key>_$!&lt;Work&gt;!$__1</key>
			<dict>
				<key>phoneId</key>
				<string>14</string>
				<key>phoneNumber</key>
				<string>(512) 898-9898</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
